.team-content {
	background: transparent;
	text-align: center;
	padding: 30px 20px;
	border-radius: $radius;
	border: 1px solid $white;
	margin-top: 80px;
	img {
		margin-bottom: 10px;
		margin-top: -80px;
		border: 1px solid $white;
		display: inline-block;
		// padding: 10px;
		background: $light;
		border-radius: 50%;
		height: 100px;
		text-align: center;
	}

	h3 {
		font-size: 22px;
	}
	p {
		font-size: 16px;
	}
	.team-social {
		margin-top: 20px;
		a {
			color: $primary;
			margin: 0px 7px;
			font-size: 25px;
		}
	}
}
